sudo: false
cache:
  directories:
  - programs
notifications:
  email: false
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.6
    packages:
    - build-essential
    - libblas-dev
    - liblapack-dev
    - libboost-dev
    - clang-3.6
    - gfortran
    - doxygen
    - graphviz
language: cpp
compiler: clang
install:
- export PRG=$PWD/programs
- export CASA=$PWD
- export CXX=clang++-3.6
- export PATH=$PWD/programs/cmake/bin:$PATH
- export PATH=$PWD/programs/ninja:$PATH
- export TRILINOS_DIR=$PWD/programs/trilinos
- export DEAL_II_DIR=$PWD/programs/dealii
- export PATH=$PWD/programs/astyle/build/gcc/bin:$PATH
- export PATH=$PRG/numdiff/bin:$PATH
- ./scripts/set_cache.sh
script:
- mkdir build
- cd build
- echo $PATH
- cmake -GNinja -DCMAKE_INSTALL_PREFIX=/home/travis/dealii-sak-inst -DDEAL_II_SAK_ENABLE_TESTING=ON ..
- ninja -j4 install
- tar cvfz /home/travis/dealii-sak-CI-build.tgz /home/travis/dealii-sak-inst
- ctest -j4 -V
  #- ../scripts/build_documentation.sh
- cd ..; ./scripts/check_indentation.sh
deploy:
  provider: releases
  api_key:
    secure: JBIOZ2GRmxWduUKtM6E623y4lju4P7nKsa+DYh2qwrlSqQDrDoRPwGt9LW8T8l9CiMhvKbXTdzEsmQMdtHGzRW2GV9VU/lsugMTEGJMtjd/ly0dwTyscBhnBudLnk/z1lZB/wKgxi2r+fmsthRctvtzkIK8uRBqA0ivkAD9wFRU=
  file:
  - /home/travis/dealii-sak-CI-build.tgz
  - $PRG/trilinos-serial-CI-build.tgz
  - $PRG/dealii-trilinos-serial-CI-build.tgz
  skip_cleanup: true
  on:
    repo: luca-heltai/dealii-sak
    tags: true
    all_branches: true
#before_install:
#- openssl aes-256-cbc -K $encrypted_54d4a083decb_key -iv $encrypted_54d4a083decb_iv
#  -in scripts/travisci_rsa.enc -out scripts/travisci_rsa -d
#- chmod 0600 scripts/travisci_rsa
#- cp scripts/travisci_rsa ~/.ssh/id_rsa 
