env:
  - BUILD_TYPE=Release
  - BUILD_TYPE=Debug
sudo: true

services:
  - docker

notifications:
  email: false

language: cpp 

before_install:
  - test -d build-travis || mkdir build-travis; sudo chown -R $(id -u $USER):$(id -g $USER) build-travis
  - ./scripts/dr.sh "./scripts/check_indentation.sh"

script:
  - ./scripts/dr.sh "cd ./build-travis; cmake -DD2K_ENABLE_TESTING=ON -DD2K_COMPONENT_DOCUMENTATION=OFF -DCMAKE_BUILD_TYPE=$BUILD_TYPE ..; make -j4"
  - ./scripts/dr.sh "cd ./build-travis; make setup_tests; ctest -j4 -V"